{% load static %}
<footer class="d-flex flex-column" style="justify-content: space-between;">
    <div class="container p-3">
        <div class="row">
            <div class="col-md-3 foot-div border-right border-left">
                <h3>QUICK <br><span class="text-md">LINKS</span></h3>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Home</a></span>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">About Us</a></span>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Projects</a></span>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Gallery</a></span>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Contact</a></span>
            </div>
            <div class="col-md-3 foot-div border-right">
                <h3>ONGOING <br><span class="text-md">PROJECTS</span></h3>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Venicia</a></span>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Chirangal</a></span>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Athens</a></span>
                <span><i class="ti-arrow-right mr-1"></i> <a href="" class="mr-3">Bethlahem</a></span>
            </div>
            <div class="col-md-3 img-box border-right d-flex flex-row justify-content-center">
                <img src="{% static 'images/indo-small.png' %}">
            </div>
            <div class="col-md-3 border-right d-flex flex-column" id="contactus">
                <h3>CONTACT US</h3>
                <span>Indostan Builders</span>
                <span>Kozhuvallur, Chengannur</span>
                <span>Alappuzha</span>
                <span>Kerala, India</span>
                <div class="mt-3 d-flex flex-column">
                    <span>Tel: +91 484 2314232</span>
                    <span>Mobile: +91 8943048790</span>
                    <span>Email : indostanbuilders@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="foot">
            <p>Copyright © indostanbuilders.com</p>
            <div>
                <i class="ti-facebook"></i>
                <i class="ti-instagram"></i>
                <i class=" ti-twitter-alt"></i>
            </div>
        </div>
    </div>
</footer>